[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Karsten Kroesch
	email = karsten@kroesch.ch
[help]
  autocorrect = 5
[alias]
  last = log -1 --stat
  cp = cherry-pick
  co = checkout
  cl = clone
  ci = commit
  st = status -sb
  br = branch
  unstage = reset HEAD --
  dc = diff --cached
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %Cblue<%an>%Creset' --abbrev-commit --date=relative --all
  lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
[color]
  ui = true
[core]
	excludesfile = ~/.gitignore_global
[pager]
    diff = delta
    log = delta
    reflog = delta
    show = delta

[delta]
    plus-style = "syntax #012800"
    minus-style = "syntax #340001"
    syntax-theme = Monokai Extended
    navigate = true

[interactive]
    diffFilter = delta --color-only

[credential]
	helper = store
[init]
	defaultBranch = main
